<!DOCTYPE html>
<html ng-App="ConsoleApp">
<head>
	<title>5 star Assignment</title>
	<!-- Angular module -->
	<script src="angular/angular.js"></script>
	<!-- controller and app init -->
	<script src="app.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<script src="bootstrap/js/bootstrap.js"></script>
</head>
<body ng-controller="ConsoleController">
<!-- body -->
<div class="jumbotron">
	<div class="container well well-sm">
		<h3 class="primary-bg"> Console App <small> by Yemo</small> </h3>
		<!-- form -->
		<img src="img/713.gif" ng-show="showLoader">
		<form ng-submit="submit(ass)" ng-show="showForm">
			Name :	<input type="text" class="form-control" ng-model="ass.name" required=""><br>
			Age :	<input type="number" class="form-control" ng-model="ass.age" required=""><br>
			Department : <input type="text" class="form-control" ng-model="ass.dept" required=""><br>
			College: <input type="text" name="" class="form-control"  ng-model="ass.college" required=""><br>
			email: <input type="email" name="" class="form-control"  ng-model="ass.email" required=""><br>
			<!-- submit -->
			<input type="submit" name="" class="btn btn-md btn-primary " value="Submit">
		</form>
		<!-- end of form  -->
	</div>
</div>
</body>
</html>